{% extends 'base.html' %}
{% block title %}代辦事項{% endblock %}
{%block style%}
<style>
    .todo-list {
        background-color: yellow;
        margin: 36px auto;
        width: 500px;
        height: 120px;
        
    }

    .date {
        background-color: lightblue;
    }

    .text {
        background-color: lightgrey;
        height: 50px;
        border-radius: 8px;
        padding: 6px;
    }

    .title {
        color: cornflowerblue;
        font-size: 24px;
        font-weight: bold;
        font-family: "";
    }

    .important {
        color: crimson;
    }
    a{
        margin-left: 12px;
    }
</style>



{%endblock%}
{% block content %}
<h1>
    {% if completed %}
    Completed-todo
    {% else %}
    TodoList
    {% endif %}
</h1>

{% for todo in todos %}
<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    <p class="title">
        <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a>
        {% if todo.important %}
        <span class="important">(重要)</span>
        {% endif %}
    </p>
    <p class="text">{{todo.text}}</p>

    <a href="{% url 'delete_todo' todo.id %}" onclick="return confirmDelete()">刪除</a>
    <a href="{% url 'completed_todo' todo.id %}" onclick="return confirmCompleted()">完成</a>

</div>
{% endfor %}
{% endblock %}